# Build directory
build/

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Ninja
.ninja_*
build.ninja

# Executables
*.exe

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.dll